<div id="leftside">
		<h2 class="hide">Navigation</h2>
		{% if site.data.nav.toc2[0] %}
  {% for item in site.data.nav.toc2 %}
    <ul class="avmenu">
      {% if item.subfolderitems[0] %}
        <ul>
          {% for entry in item.subfolderitems %}
              <li {% if item.url == page.url %}class="active"{% endif %}><a href="{{ entry.url }}">{{ entry.page }}</a>
                {% if entry.subsubfolderitems[0] %}
                  <ul>
                  {% for subentry in entry.subsubfolderitems %}
                      <li {% if subentry.url == page.url %}class="active"{% endif %}><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    </ul>
	{% endfor %}
{% endif %}

		<div class="announce">
			<h2>Latest news:</h2>
			{% for post in site.posts limit:1 %}
			<p><strong>{{ post.date | date: "%b %-d, %Y" }}</strong><br>
			<a href="{{ post.url }}">{{ post.title}}</a></p>
			{% endfor %}
		</div>
	</div>